<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
  {{range .}}
      <li>{{.Name}} ({{.Age}})</li>
  {{end}}
  </ul>
</body>
</html>
